table {
    border: 1px #646464;
    width: 100%;
    border-collapse: collapse;
}

 td ,th {
    border: 1px #646464;
     padding: 8px;
    text-align: left;
}

th{
    background-color:darkorchid;
}

tr:nth-child(even) {
    background-color: black;
    font-weight: bold;
}

tr :hover{
    background-color: paleturquoise;
}
div{
    background-color: plum;
    color: darkmagenta;
    padding: 12px 16px;
    border: 2px solid black;
}
.sed{
    text-decoration: underline;
}
    