.topnav{
    background-color: black;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: blueviolet;
    color: black;
}
.topnav-right{
    float: right;
} 